/* --------------------------------- Search --------------------------------- */

.search {
  padding: clamp(2.5rem, 1.722rem + 3.89vw, 5.125rem) 0
    clamp(2.5rem, 2.222rem + 1.39vw, 3.438rem) 0;

  background: #fefaf1;
}

.search .search-slider {
  display: flex;
  flex-direction: column;
  gap: clamp(1.875rem, 0.801rem + 5.37vw, 5.5rem);

  width: 100%;

  overflow: visible;

  @media (max-width: 480px) {
    padding: 0 clamp(1.25rem, -5.253rem + 37.16vw, 8.125rem);
  }

  @media (min-width: 480px) {
    $slide: ".search-slide";
    .swiper-slide {
      opacity: 0;
      visibility: hidden;
      transition: opacity 200ms ease-in-out, visibility 200ms ease-in-out;
      &-active {
        opacity: 1;
        visibility: visible;

        @for $i from 1 through 5 {
          & + #{$slide} {
            opacity: 1;
            visibility: visible;
          }
          $slide: "#{$slide} + .swiper-slide";
        }
      }
    }
  }

  &__header {
    display: flex;
    justify-content: flex-end;
    gap: 26px;

    padding-right: 20px;

    @media (max-width: 600px) {
      padding-right: 0;

      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
  }

  &__title {
    margin-right: auto;

    @media (max-width: 600px) {
      margin-right: 0;
    }
  }

  &__button {
    color: var(--primary-color);

    cursor: pointer;

    display: flex;
    align-items: center;
    align-self: center;
    gap: 10px;

    min-height: 20px;
    max-width: 150px;

    @include button-hover;
  }

  &__controls {
    overflow: visible;
    display: flex;
    gap: 16px;

    @media (max-width: 480px) {
      display: none;
    }
  }

  &__wrapper {
    align-items: center;
  }
}

.search .search-slide {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 26px;

  &__img {
    height: 218px;
    width: 218px;

    img {
      height: 100%;
      width: 100%;
      object-fit: cover;

      border-radius: 100%;
    }
  }

  &__subtitle {
    font-size: 1.375rem;
    line-height: 1.2;
    text-align: center;
  }
}

/* --------------------------------- /Search --------------------------------- */
